html, body{
    margin:0;
    padding:0;
    background-color:black;
    scroll-behavior: smooth;
    }



header {
  position:fixed;
  width: 100%;
  z-index: 10;
}

.header__top {
    display: flex;
    align-items: center;
    background-color: black;
    padding:19px;
    text-align: center;
    font-size: 16px;
    font-weight: bold;
    z-index: 10;
    font-style: italic;
    height:82px;
  

}
nav{
    background-color:black;
    color: white;
    width:100%;
    height:auto;
    top: 0px;
    z-index: 10; /*Designe dans quel plan il se situe, exemple: 0, il est en dernier plan et plus la valeur augmente plus il est au dessus */
}
#home {
    position:absolute;
    top: 140px;
    left: 22%;
    padding:20px;
    color:black;
    font-size : 35px;
    font-weight: bold;
    text-align: center;
    margin:10px; /*fait une marge de 10 pixel*/
    z-index: 1;
    opacity:0,5;
    text-shadow: -2px -2px 0 #ffffff, 2px -2px 0 white, -2px 2px 0 white, 2px 2px 0 white
}
#language{
    width:100px;
    height:auto;
    font-size : 1px;
    padding:1px;
    z-index: 100;
}

.smashtruck{
    width:40%;
    height: 70%;
    position:absolute;
    top:460px;
    left:31%;
    z-index: 9;
    border: solid black 6px;
}

.logo{
    top:0px;
    width:auto;
    height: 100px;  
}

a:link {
    color:white;
}

a:visited {
    color:white;
}

a:focus {
    color:white;
}

a:hover {
    background-color:blueviolet;
    color:white;
    padding-block:30px;
}

a:active {
    color:white;
}

#blur{
    filter:blur(2px);
    position:fixed;
    width:100%;
    height:auto;
    top:140px;
    z-index:0;
}

a{
    padding: 1% 5%;
    z-index:477;
}

#menu {
    top: 2000px;
    z-index: 8;
    color:white;
    position:absolute;
    text-align: center;
    border:solid black 3px;
    left:0%;
    background-color:black;
    width:100%;
    height: 120%;
}
.burger {
    width:6%;
    height: auto;
    padding:12px;
}

.tacos {
    width:6%;
    height: auto;
    padding:12px;
}
.boisson {
    width:6%;
    height: auto;
    padding:12px; /*génère un écart de remplissage de 12 pixels*/
}
.frite {
    width:6%;
    height: auto;
    padding:15px;
}


#loc {
    top: 4000px;
    z-index: 7;
    color:white;
    position:absolute;
    text-align: center;
    border:solid black 3px;
    left:0%;
    background-color:black;
    width: 100%;
    height: 100%;
    font-size : 15px;
    font-weight: bold
}

#map{
    width:70%;
    height:400px;
}

#horaires {
    top: 7000px;
    z-index: 8;
    color:white;
    position:absolute;
    text-align: center;
    border:solid black 3px;
    left:0%;
    background-color:black;
    width:100%;
    height:100%;
    font-size : 25px;
    font-weight: bold
}

#contact{
    top: 9000px;
    z-index: 8;
    color:white;
    position:absolute;
    text-align: center;
    border:solid black 3px;
    left:0%;
    background-color:black;
    width:100%;
    height:100%;
    font-size : 25px;
    font-weight: bold
    
}

#info{
    top: 11000px;
    z-index: 8;
    color:white;
    position:absolute;
    text-align: center;
    border:solid black 3px;
    left:0%;
    background-color:black;
    width:100%;
    height:100%;
    font-size : 25px;
    font-weight: bold  
}

#b1{
    width:10%;
    height:5%;
}
#b2{
    width:10%;
    height:5%;
}
#b3{
    width:10%;
    height:5%;
}

